<mat-toolbar color="primary">  
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <input type="text" [(ngModel)]="memberName" (ngModelChange)="changeMember()">
    <button style="position: absolute;right: 0;" (click)="logout()">Logout</button>
</mat-toolbar>


<div style="display:flex;">
    <div style="width:100px;height:100%;background-color:cyan;">This is side nav
        <div>
            <a routerLink="/members">Members</a>
        </div>
        <div>
            <a routerLink="/members/students">Students</a>
        </div>
        <div>
            <a routerLink="/members/tests">Tests</a>
        </div>
        
    </div>
    <ng-content>

    </ng-content>
</div>