<!-- <div class="page-login">
    <div class="form-container">
            <h1 class="eds-label">Login</h1>
            <input class="input box-email" type="text" placeholder="Email">
            <input class="input box-password" type="text" placeholder="Password">
            <button class="login-button" (click)="login()">Login  &gt;</button>
    </div>
    
</div> -->
<h1>Login page</h1>
<input type="text" placeholder="Email">
<input type="text" placeholder="Password">
<button (click)="login()">Login</button>
